In [45]:
# import the necessary files
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [46]:
# import the dataset
dataset = pd.read_csv('./aprioridata.csv',header=None)

In [52]:
# adjust the data in form of list of list
data = []
for i in range(len(dataset)):
    data.append([j for j in dataset.values[i] if j == j])

In [54]:
# encode the data in form of matrix as True or False
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

       A      B      C      D      E      F
0   True   True   True  False  False  False
1   True  False   True  False  False  False
2   True  False  False   True  False  False
3  False   True  False  False   True   True

In [28]:
# use the apriori algorithm to find itemsets with min_support

apriori(df, min_support=0.5)

   support itemsets
0     0.75      (0)
1     0.50      (1)
2     0.50      (2)
3     0.50   (0, 2)

In [36]:
# creating a dataframe with column name for better reading
# and also create the length column 

freq_itemsets = apriori(df, min_support=0.5, use_colnames=True)
freq_itemsets['length'] = freq_itemsets['itemsets'].apply(lambda x: len(x))

In [37]:
freq_itemsets

   support itemsets  length
0     0.75      (A)       1
1     0.50      (B)       1
2     0.50      (C)       1
3     0.50   (C, A)       2

In [40]:
# finally create the rules using association_rules function by library

my_rules = association_rules(freq_itemsets,min_threshold=0.5)

In [44]:
my_rules[["antecedents","consequents","support","confidence"]]

  antecedents consequents  support  confidence
0         (C)         (A)      0.5    1.000000
1         (A)         (C)      0.5    0.666667